name: Deploy Leave Management SAM

on:
  push:
    branches:
      - main  

permissions:
  id-token: write 
  contents: read 

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'

      - name: Setup AWS SAM
        uses: aws-actions/setup-sam@v2

      - name: Install Dependencies and esbuild
        run: |
          # 1. Install esbuild globally so SAM can find it
          npm install -g esbuild
          
          # 2. Go to your Lambda folder and install dependencies there
          # This is critical because esbuild needs to find 'jsonwebtoken'
          cd src/lambdas/auth
          
          # If package.json doesn't exist, we create a basic one and install libraries
          if [ ! -f package.json ]; then
            npm init -y
            npm install jsonwebtoken @aws-sdk/client-ssm
          else
            npm install
          fi
          
          # Go back to root for the SAM build
          cd ../../../

      - name: Configure AWS Credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::817901212217:role/github-actions-leave-management-npl-role
          aws-region: ap-south-1

      - name: SAM Build
        run: sam build

      - name: SAM Deploy
        run: |
          sam deploy --no-confirm-changeset \
            --no-fail-on-empty-changeset \
            --stack-name leave-management-stack \
            --capabilities CAPABILITY_IAM CAPABILITY_NAMED_IAM \
            --region ap-south-1
